{% extends "dojango/base_i18n.html" %}

{% block dojango_header_extra %}
<script type="text/javascript">
    dojo.require("dojo.data.ItemFileWriteStore");
    dojo.require("dijit.Tree");
    dojo.require("dijit.tree.ForestStoreModel");
    dojo.require("dojox.data.FileStore");
    dojo.require("dojox.widget.FilePicker");
</script>
<link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/widget/FilePicker/FilePicker.css">
{% endblock %}

{% block dojango_content %}
    <div dojoType="dojo.data.ItemFileWriteStore" jsId="store" url="/mptree/"></div>
    <div dojoType="dijit.tree.ForestStoreModel" jsId="model" store="store" childrenAttrs="children">
    <div dojoType="dijit.Tree" model="model" openOnClick="true"></div>
    
    <div dojoType="dojox.data.FileStore" url="/mptree/" jsId="fileStore" pathAsQueryParam="true"></div>

    	<div dojoType="dojox.widget.FilePicker" jsId="myPicker" id="myPicker" style="width: 50%;" store="fileStore" query="{}"></div>
    
    
{% endblock %}