{% extends "dojango/base_i18n.html" %}

{% block dojango_header_extra %}
<script type="text/javascript">
    dojo.require("dojo.data.ItemFileWriteStore");
    dojo.require("dijit.Tree");
    dojo.require("dijit.tree.ForestStoreModel");
</script>
<link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/widget/FilePicker/FilePicker.css">
{% endblock %}

{% block dojango_content %}
    <div dojoType="dojo.data.ItemFileWriteStore" jsId="store" url="/mptree/"></div>
    <div dojoType="dijit.tree.ForestStoreModel" jsId="model" store="store" childrenAttrs="children" rootId="mptreeRoot" rootLabel="mptree">
    <div dojoType="dijit.Tree" model="model" openOnClick="true"></div>
{% endblock %}